.social-circle {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.social-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0;
  width: 90%;
}

.social-list-wrapper li {
  list-style: none;
}
